@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f8fafc;
}

::-webkit-scrollbar-thumb {
  background: #EE2529;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D32F2F;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #EE2529 #f8fafc;
}

